{% extends 'base.html' %}
{% block body %}
        <table>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>CPF</td>
                <td>RG</td>
                <td>Sexo</td>
                <td>Possui <br> Habilitação</td>
                <td>Salário</td>
                <td>Carga Horária <br> Semanal</td>
            </tr>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.cpf }}</td>
                <td>{{ funcionario.rg }}</td>
                <td>{{ funcionario.sexo }}</td>
                {% if funcionario.possui_habilitacao %}
                <td>Sim</td>
                {% else %}
                <td>Não</td>
                {% endif %}
                <td>{{ funcionario.salario }}</td>
                <td>{{ funcionario.carga_horaria_semanal }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <a href="criar">Cadastrar Funcionário</a>
{% endblock %}